@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-gradient-to-br from-[#006d77] to-[#83c5be];
  }

  #root {
    @apply min-h-screen;
  }
}
